.content{
	margin-top: 40px;
}

h2{
	font-weight: 600;
}

input[type="text"]{
	line-height: 20px;
}

input[type="submit"]{
	background-color: #3fb255;
	color: white;
	font-weight: 600;
	text-transform: capitalize;
}
