<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head.html %>
		<link type="text/css" rel="stylesheet" href="stylesheets/books/booksStyle.css" />
		<link type="text/css" rel="stylesheet" href="stylesheets/books/bookCardStyle.css" />
	</head>
	<body>
		<div class="container">
			<div class="pageTitle">
				<h2>Keep track of what you are reading </h2>
			</div>

			<form name="addBooks" action="/books/addBook" method="POST">
				<div class="form-group">
					<label> title: </label>
					<input id="bookTitle" type="text" name="bookTitle" class="form-control">
				</div>
				<div class="form-group">
					<label>left at page #: </label>
					<input id="pageNum" type="number" name="leftBookAt" class="form-control">
				</div>
				<input id="addBookBtn" type="submit" value="add" class="form-control btn btn-success">
			</form>
		</div>

		<div id="bookProgress" class="container bookProgress">
			<!-- books in progress -->
			<div class="bookCard">
				<!-- book card -->
				<h4> the power of habit </h4>
				<h4> another h4 </h4>
				<div class="controls">
					<button type="button" class="editBtn controlBtn"> E </button>
					<!-- <img class="delIcon" src="https://img.icons8.com/ios-glyphs/30/000000/close-window.png"> -->
					<button type="button" class="delBtn controlBtn"> D </button>
				</div>
			</div>
		</div>

		<script src="javascripts/books/bookScript.js"> </script>
	</body>
</html>

